body {
  font-family: sans-serif;
}
.titulo {
  margin: auto;
  border: auto;
  padding: auto;
  background-color: deeppink;
}

.lista1 {
  margin-left: 500px;
  border: 50px solid #059900;
  width: 300px;
  height: 200px;
  text-align: center;
  padding: 50px;
  margin-top: 180px; 
}
.producto1 {
  font-weight: bold;
  font-size-adjust: justify;
}

.lista2 {
  font-size: 42px;
  font-weight: bold;
  color: #000000;
  margin-top: 60px;
  background-color: #d9c5db;
}
.producto2 {
  font-weight: bold;
  
}

.lista3 {
  margin-left: 500px;
        border: 50px solid #059900;
        width: 300px;
        height: 200px;
        text-align: center;
        padding: 50px;
}
.producto3 {
  font-weight: bold;
}
